.myInfo {
  font-size: 1.6em;
    /*font-family: "lucida grande",
    "lucida sans unicode",
    lucida,
    helvetica,
    "Hiragino Sans GB",
    "MicrosoftYaHei",
    "WenQuanYi Micro Hei",
    sans-serif;
    font-size: 18px;*/
    font-family:
            PingFang SC,
            Hiragino Sans GB,
            Arial,
            Microsoft YaHei,
            Verdana,Roboto,
            Noto,
            Helvetica Neue,
            sans-serif !important;

  /*font-weight: bolder;*/
  text-decoration: none;
  /*color: #2f77c6;*/

  margin-bottom: 35px;
    margin-left: 10px;
}

#infoForm a {
    display: none;
}



.changeButton{
    font-size:1.4em;
    font-family: "Microsoft Yahei";
    letter-spacing: 1px;
}

#avatar-clear_id{
    display:none;
}

