.myInfo {
  font-size: 1.6em;
  font-family: "Microsoft Yahei";
  letter-spacing: 2.2px;
  font-weight: lighter;
  text-decoration: none;
  color: #2f77c6;
  margin-top: 10px;
}

.title{
    font-size:2.3em;
    font-family: "Microsoft Yahei";
    font-weight: border;
    letter-spacing: 3px;
}



.changeButton{
    font-size:1.4em;
    font-family: "Microsoft Yahei";
    letter-spacing: 1px;
}

