body {
    font-size: 62.5%;
}
.font {
    /*font-family: "lucida grande",
    "lucida sans unicode",
    lucida,
    helvetica,
    "Hiragino Sans GB",
    "MicrosoftYaHei",
    "WenQuanYi Micro Hei",
    sans-serif;
    font-size: 18px;*/
    font-family:
            PingFang SC,
            Hiragino Sans GB,
            Arial,
            Microsoft YaHei,
            Verdana,Roboto,
            Noto,
            Helvetica Neue,
            sans-serif !important
}

@media (min-width: 0px) {
    .align-items-xl-center {
        -ms-flex-align: center !important;
        align-items: center !important;
    }
}

@media (min-width: 0px) {
    .justify-content-xl-center {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}

@media (min-width: 0px) {
    .d-xl-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media (min-width: 0px) {
    .d-xl-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

.flex-column {
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}

@media (max-width: 576px) {
    #userInfo {
        width: 100% !important;
        display: flex;
        flex-direction: row!important;
        padding: 0!important;
    }
    #userInfo > div {
        margin: 0!important;
    }
    #postInfo {
        width: 100% !important;
    }
    #top-userInfo {
        width: 100% !important;
        display: flex;
        flex-direction: row!important;
        padding: 0!important;
    }
}