body {
    height: 100%;
    background-color: #f7f7f7;
    /*background-image: url('../images/background.jpeg');*/
}

.logo {
  max-height: 150px;
  margin: auto;
  display: block;
}

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-login {
    margin-top: 80px;
}

.form-login .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;


}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

form a {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.container {
    background-color: white;
    max-width: 400px;
    margin-top: 100px;
    border-style: solid;
    border-radius: 5px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-color: #d9dee2;
}
.wrap {
    display: flex;
}
.center {
    flex: 1;
}
.left {

}
.right {

}

button {
    background: dodgerblue;
    color: #fff;
    border: none;
    position: relative;
    height: 40px;
    font-size: 1.2em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin: 40px auto;
    display: block;
    border-radius: 5px;
}

button:hover {
    background: #fff;
    color: dodgerblue;
}

button:before, button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: dodgerblue;
    transition: 400ms ease all;
}

button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

button:hover:before, button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.right a:link {
    color: dodgerblue;
    text-decoration: none;
}

.right a:visited {
    text-decoration: none;
    color: dodgerblue;
    font-weight: bold;
}

.right a:hover {
    text-decoration: none;
    color: dodgerblue;
    font-weight: bolder;
}

.right a:active {
    text-decoration: none;
    color: rebeccapurple;
}