{% extends 'base/base.html' %}
{% load static %}

{% block sidebar %}
{% endblock %}
{% block sidebartogglervisibility %}
    visibility: hidden
{% endblock %}

{% block main %}
    <div class="d-flex align-items-center flex-column"
         style="width: 100%; flex-direction: column; background-color: rgba(255,255,255,0);font-size: 1rem;"
         id="titleWrapper">
        <div class="border-top" style="width: 90%;">
            <div class="d-flex flex-row">
                <div class="d-flex flex-column align-items-center" style="padding: 10px; width: 120px" id="avatarBox">
                    <div style="width: 75%">
                        <img src="{{ post.author.avatar.url }}" class="border rounded-circle"
                             style="width: 100%"/>
                    </div>
                    <div class="font d-flex flex-column" style="font-weight: bolder">
                        <div class="d-flex justify-content-center" style="margin-top: 5px; font-size: 1em">
                            <span style="text-align: center">{{ post.author.name }}</span>
                        </div>
                        <div class="d-flex justify-content-center align-items-center" style="margin-top: 5px">
                            <span class="rounded align-middle"
                                  style="margin-right: 5px; padding: 0 4px; font-size: 0.7em; font-weight: bolder; color: white; background-color: #5baaff">lv 1</span>
                            <span style="font-size: 0.8em">新手</span>
                        </div>

                    </div>
                </div>
                <div class="d-flex flex-fill" style="padding: 10px; flex-direction: column;">
                    <div class="d-flex align-items-center" style="flex-grow: 1">
                        <span class="font" style="font-size: 1.1em; font-weight: bolder;">{{ post.title }}</span>
                    </div>
                </div>
            </div>
            <div class="d-flex"
                     style="max-width:100%; flex-direction:row; justify-content: flex-end; font-size:1em">
                <div class="d-flex flex-row" style="justify-content: flex-end; font-size:0.9em">
                        <div class="d-sm-flex align-items-sm-center">
                            {{ post.create_time | date:"Y-m-d" }}
                        </div>
                        <div class="d-sm-flex align-items-sm-center">
                            <i class="fa fa-thumbs-o-up" style="margin-left: 5px; padding-right: 2px"></i>
                        </div>
                        <div class="d-sm-flex align-items-sm-center">
                            <i class="fa fa-thumbs-o-down" style="margin-left: 5px; padding-right: 2px"></i>
                        </div>
                        <div class="d-sm-flex align-items-sm-center">
                            <i class="fa fa-heart-o" style="margin-left: 5px; padding-right: 2px"></i>
                        </div>
                        <div class="d-sm-flex align-items-sm-center">
                            <i class="fa fa-hand-stop-o" style="margin-left: 5px; padding-right: 2px"></i>
                        </div>
                        <div class="d-sm-flex align-items-sm-center">
                            <i class="fa fa-pencil-square" style="margin-left: 5px; padding-right: 2px"></i>
                        </div>
                    </div>
            </div>
        </div>
        <div class="d-flex justify-content-center" style="width: 90%">
            <div class="font" style="width: 95%; margin: 10px 0;font-size: 1.07em;">
                {{ post.content }}
            </div>
        </div>
        {% for comment in comments_lv1 %}
            <div class="border-top" style="width: 90%;">
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column align-items-center CommentAvatar"
                         style="padding: 10px; width: 120px">
                        <div style="width: 75%">
                            <img src="{{ comment.0.user.avatar.url }}" class="border rounded-circle"
                                 style="width: 100%"/>
                        </div>
                        <div class="font d-flex flex-column" style="font-weight: bolder">
                            <div class="d-flex justify-content-center" style="margin-top: 5px; font-size: 1em">
                                <span style="text-align: center">{{ comment.0.user.name }}</span>
                            </div>
                            <div class="d-flex justify-content-center align-items-center" style="margin-top: 5px;">
                            <span class="rounded align-middle"
                                  style="margin-right: 5px; padding: 0 4px; font-size: 0.7em; font-weight: bolder; color: white; background-color: #5baaff">lv 1</span>
                                <span style="font-size: 0.8em">新手</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-fill" style="padding: 10px; flex-direction: column;">
                        <div class="d-flex align-items-center" style="flex-grow: 1">
                            <span class="font" style="font-size: 1.1em;">{{ comment.0.content }}</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex"
                     style="max-width:100%; flex-direction:row; justify-content: flex-end; font-size:0.9em">
                    <div class="d-sm-flex align-items-sm-center">
                        {{ comment.0.created | date:"Y-m-d H:i:s" }}
                    </div>
                    <div class="d-sm-flex align-items-sm-center">
                        <i class="fa fa-thumbs-o-up" style="margin-left: 5px; padding-right: 2px"></i>
                    </div>
                    <div class="d-sm-flex align-items-sm-center">
                        <i class="fa fa-thumbs-o-down" style="margin-left: 5px; padding-right: 2px"></i>
                    </div>
                    <div class="d-sm-flex align-items-sm-center">
                        <i class="fa fa-hand-stop-o" style="margin-left: 5px; padding-right: 2px"></i>
                    </div>
                    <div class="d-sm-flex align-items-sm-center">
                        <i class="fa fa-pencil-square" style="margin-left: 5px; padding-right: 2px"></i>
                    </div>
                    <div class="d-sm-flex align-items-sm-center">
                        <i class="fa fa-trash-o" style="margin-left: 5px; padding-right: 2px"></i>
                    </div>
                </div>
                {% if  comment.1|length  > 0 %}
                    <div class="border rounded sub-comment"
                         style="margin: 10px 3% 10px 12%; padding: 10px; background-color: rgb(255,255,255)">
                        {% for subcomments in comment.1 %}
                            <div class="{% if not forloop.last %}border-bottom{% endif %}" style="margin: 5px">
                                <div>
                                    <div style="font-weight:bolder; font-size:1em;">
                                        {{ subcomments.user }}
                                        回复
                                        {{ subcomments.reply_to }}:
                                    </div>
                                    <div style="font-size:0.9em; margin: 5px">
                                        {{ subcomments.content }}
                                    </div>
                                </div>
                                <div>something {{ subcomments.created }}</div>
                            </div>

                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}



        <br/><br/><br/><br/><br/><br/><br/>
    </div>

{% endblock %}

{% block moreComponents %}
    <div class="rounded-circle d-flex align-items-center justify-content-center flex-button" id="return-button"
         style="z-index: 15; background-color: #046be2; position: fixed;">
        <i class="fa fa-arrow-left" style="color: white;"></i>
    </div>
    <div class="rounded-circle d-flex align-items-center justify-content-center flex-button" id="reply-button"
         style="z-index: 15; background-color: #046be2; position: fixed;">
        <i class="fa fa-commenting-o" style="color: white;"></i>
    </div>
{% endblock %}

{% block script %}
    <script>
        let windowStatus = 1;

        function handler() {
            const width = Number(window.innerWidth);
            const avatarBox = document.getElementById("avatarBox");
            const flexButtons = document.getElementsByClassName("flex-button");
            const commentAvatars = document.getElementsByClassName("CommentAvatar");
            const bodyHeight = window.innerHeight;
            const bodyWidth = window.innerWidth;
            document.getElementById("reply-button").style.left = bodyWidth - 100 + "px";
            document.getElementById("return-button").style.left = bodyWidth - 180 + "px";
            if (width >= 1440) {
                avatarBox.style.minWidth = "150px";
                avatarBox.style.maxWidth = "150px";
                Array.prototype.forEach.call(commentAvatars, function (el) {
                    el.style.minWidth = "150px";
                    el.style.maxWidth = "150px";
                });
                Array.prototype.forEach.call(flexButtons, function (el) {
                    el.style.width = "60px";
                    el.style.height = "60px";
                    el.style.fontSize = "2em";
                    el.style.top = bodyHeight - 100 + "px";
                });
                //document.getElementById("avatarBox").style.fontSize = "1rem";
                document.getElementById("titleWrapper").style.fontSize = "1rem";
            } else if (width < 375) {
                avatarBox.style.minWidth = "80px";
                avatarBox.style.maxWidth = "80px";
                Array.prototype.forEach.call(commentAvatars, function (el) {
                    el.style.minWidth = "80px";
                    el.style.maxWidth = "80px";
                });
                Array.prototype.forEach.call(flexButtons, function (el) {
                    el.style.width = "40px";
                    el.style.height = "40px";
                    el.style.fontSize = "2em";
                    el.style.top = bodyHeight - 100 + "px";
                });
                //document.getElementById("avatarBox").style.fontSize = "0.8rem";
                document.getElementById("titleWrapper").style.fontSize = "0.8rem";
            } else {
                w = (width - 375) / 1065 * 70 + 80;
                r = (width - 375) / 1065 * 0.2 + 0.8;
                d = (width - 375) / 1065 * 20 + 40;
                dr = (width - 375) / 1065 + 1;
                avatarBox.style.minWidth = w + "px";
                avatarBox.style.maxWidth = w + "px";
                Array.prototype.forEach.call(commentAvatars, function (el) {
                    el.style.minWidth = w + "px";
                    el.style.maxWidth = w + "px";
                });
                Array.prototype.forEach.call(flexButtons, function (el) {
                    el.style.width = d + "px";
                    el.style.height = d + "px";
                    el.style.fontSize = dr + "em";
                    el.style.top = bodyHeight - 100 + "px";
                });
                //document.getElementById("avatarBox").style.fontSize = r + "rem";
                document.getElementById("titleWrapper").style.fontSize = r + "rem";
            }
            const nav = document.getElementById("navcol-1");
            //console.log(windowStatus);
            if (width >= 768) {
                if (nav.offsetWidth !== 0 && windowStatus === 0) {
                    document.getElementById("navbartoggler").click();
                }
                windowStatus = 1;
                document.getElementById("titleWrapper").style.opacity = "1";
            } else {
                if (windowStatus === 1 && nav.offsetHeight === 78) {
                    document.getElementById("navbartoggler").click();
                }
                if (nav.offsetWidth !== 0)
                    windowStatus = 0;
            }
        }

        window.addEventListener("resize", handler);
        $("#navbartoggler").click(function (e) {
            const nav = document.getElementById("navcol-1");
            if (nav.offsetHeight === 0) {
                $("#nav-bar").animate({height: 150});
                document.getElementById("titleWrapper").style.opacity = "0.5";
            } else {
                $("#nav-bar").animate({height: 70});
                document.getElementById("titleWrapper").style.opacity = "1";
            }
        })
        /*
        window.addEventListener('scroll', function (e) {
            const bodyHeight = window.innerHeight;
            const bodyWidth = window.innerWidth;
            const flexButtons = document.getElementsByClassName("flex-button");
            document.getElementById("reply-button").style.left = bodyWidth - 100 + "px";
            Array.prototype.forEach.call(flexButtons, function (el) {
                el.style.top = bodyHeight - 100 + "px";
            });
        });*/
    </script>
{% endblock %}

{% block moreOnloadFunc %}
    handler();
{% endblock %}

{% block funcShowSidebar %}
{% endblock %}