{% extends 'space/space.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block newCSS %}
    <link rel="stylesheet" href="{% static 'space/css/myInfo.css' %}"/>
{% endblock %}

{% block main1 %}
{% endblock %}

{% block main2nav %}
<!--    隐藏头像-->
<!--    <div>-->
<!--        <img class="rounded-circle" src="{{ space_owner.avatar.url }}"-->
<!--                                     style="width: 25px; height: 25px"/>-->
<!--    </div>-->
    <div class="flex-column" style="width: 100%;">
        <div class="font title" >
            个人信息：
        </div>
        <div class="myInfo">
            用户名：{{ space_owner.name }}
        </div>
        <div class="myInfo">
            性别：{{ space_owner.sex }}
        </div>
        <div class="myInfo">
            年龄：{{ space_owner.age }}
        </div>
        <div class="myInfo">
            邮箱：{{ space_owner.email }}
        </div>
        <div class="myInfo">
            学校：{{ space_owner.school }}
        </div>
        <div class="myInfo">
            专业：{{ space_owner.major }}
        </div>
        <div style="margin:10px;">
            {% if is_owner or user.is_admin %}
                <a href="{% url 'settings' space_owner.id %}">
                    <button type="button" class="btn btn-info changeButton" >修改个人信息</button>
                </a>
            {% endif %}
        </div>

    </div>


{% endblock %}