{% extends 'space/space.html' %}
{% load crispy_forms_filters %}

{% load static %}
{% block newCSS %}
<!--    <script>-->
<!--    $("#avatar-clear").hide();-->
<!--    </script>-->
    <link rel="stylesheet" href="{% static 'space/css/myInfo.css' %}"/>
{% endblock %}

{% block main1 %}
{% endblock %}

{% block main2nav %}
{% endblock %}

{% block main2 %}
<div class="container">
<!--    {% if form.errors %}-->
<!--    {{ form.errors }}-->
<!--    {% endif %}-->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            {# 这个novalidate很重要啊，没有这个后面自己定制的错误提示无法渲染出来 #}
            {# 自己编写表单验证插件的时候，使用它可以避免和默认的表单验证冲突 #}
             <form action="" method="post" enctype="multipart/form-data" novalidate >
                 {% csrf_token %}
<!--                 {{ form.as_p }}-->
<!--                <input type="submit">-->

                 {% for field in form %}
                    <div class="myInfo">
                        <div class="">
                          {{field.name }} : {{   field }}
                        </div>
                    </div>
                 {% endfor %}
                 <input type="submit" class="btn btn-info changeButton">
<!--                <div class="myInfo">-->
<!--                    头像：{{ form.avatar }}-->
<!--                </div>-->
<!--                <div class="myInfo">-->
<!--                    用户名：{{ form.name }}-->
<!--                </div>-->
<!--                    <div class="myInfo">-->
<!--                    年龄：{{ form.age }}-->
<!--                </div>-->
<!--                <div class="myInfo">-->
<!--                    密码：{{ form.password }}-->
<!--                </div>-->
<!--                <div class="myInfo">-->
<!--                    邮箱：{{ form.email }}-->
<!--                </div>-->
<!--                <div class="myInfo">-->
<!--                    性别：{{ form.sex }}-->
<!--                </div>-->
<!--                <div class="myInfo">-->
<!--                    学校：{{ form.school }}-->
<!--                </div>-->
<!--                <div class="myInfo">-->
<!--                    专业：{{ form.major }}-->
<!--                </div>-->
<!--                <div style="margin:10px  0  0  90px;">-->
<!--                    <input type="submit" class="btn btn-info changeButton">-->
<!--                </div>-->
             </form>
        </div>
    </div>
</div>
{% endblock %}

{% block moreOnloadFunc %}
    document.getElementById("avatar-clear_id").style.display="none";
{% endblock %}
