{% extends 'base/base.html' %}
{% load static %}

<head>
    <meta charset="utf-8">
    <!-- 2.引入Bootstrap 样式-->
    <!-- 3.引用个人定义的welcome主页样式 -->

    <!-- 4.引入所有页面的公共样式 -->
</head>

{% block newCSS %}
    <link rel="stylesheet" href="{% static 'space/css/welcome.css' %}"/> <!-- !important 优先级最高 -->
{% endblock %}

{% block main1border %}

{% endblock %}

{% block main1 %}

    <img src="{% static 'space/images/head.png' %}" style="width: 100%">

{% endblock %}
{% block side1_content %}

    <img src="{% static 'base/images/logo.png' %}" style="height: 80%; width: 80%">
    <div></div>
{% endblock %}
{% block side2_content %}
    <div>
        <a href="{% url 'space' %}">
            <button class="button" type="button" data-hover="进入个人空间" style="color: #06a2ec;">
                <span><i style="padding-right:10px;" class="fa">&#xf015</i>个人空间</span>
            </button>
        </a>
    </div>
    <div>
        <a href="{% url 'space' %}">
            <button class="button" type="button" data-hover="查看我的信息" style="color: #06a2ec;">
                <span><i style="padding-right: 10px;" class="fa">&#xf022</i>我的信息</span>
            </button>
        </a>
    </div>
    <div>
        <a href="{% url 'space' %}">
            <button class="button" type="button" data-hover="查看黑名单" style="color: #06a2ec;">
                <span><i style="padding-right:10px ;" class="fa">&#xf119</i>黑名单</span>
            </button>
        </a>
    </div>
    <div>
        <a href="{% url 'space' %}">
            <button class="button" type="button" data-hover="查看所有关注帖子" style="color: #06a2ec;">
                <span><i style="padding-right:10px;" class="fa">&#xf1ea</i>关注帖子</span>
            </button>
        </a>
    </div>
    <div>
        <a href="{% url 'space' %}">
            <button class="button" type="button" data-hover="查看所有关注用户" style="color: #06a2ec;">
                <span><i style="padding-right:10px;" class="fa">&#xf2ba</i>关注用户</span>
            </button>
        </a>
    </div>
    <div>
        <a href="{% url 'space' %}">
            <button class="button" type="button" data-hover="查看我的私信" style="color: #06a2ec;">
                <span><i class="fa fa-comments" style="padding-right: 10px"></i>我的私信</span>
            </button>
        </a>
    </div>
{% endblock %}



{% block side3 %}

{% endblock %}


{% block main2border %}
    border-left border-right
{% endblock %}

{% block main2 %}
    {% for post in posts %}
        <div class="d-sm-flex align-items-sm-center border-top {% if forloop.last %}border-bottom{% endif %}">
            <div class="flex-column" style="padding: 10px; width: 75%;">
                <div class="font" style="font-size: 16px;">
                    <a href="#" style="text-decoration: none; color: #2f77c6; font-weight: bolder">
                        {{ post.title }}
                    </a>
                </div>
                <div class="font" style="font-size: 12px; color: gray; padding: 10px 0;">
                    {{ post.content }}
                </div>
                <div class="d-sm-flex align-items-sm-center">
                    <span class="font rounded"
                          style="background-color: #d9dee2; font-size: 14px; padding: 3px; margin-right: 10px; font-weight:600;">
                        &nbsp;发帖板块&nbsp;
                    </span>
                        <span class="font"
                              style="font-size: 14px; font-weight:600;">
                        <i class="fa fa-comments-o" style="padding-right: 2px"></i>评论(6)
                    </span>
                </div>
            </div>
            <div class="flex-column" style="width: 25%">
                <div class="d-sm-flex align-items-sm-center">
                    <img class="rounded-circle" src="{% static 'base/images/logo.png' %}" style="width: 25px; height: 25px" />
                    <span class="font" style="margin-left: 5px; font-size: 14px; font-weight:600;">用户名</span>
                </div>
                <div style="margin-top: 10px; padding-left: 4px; color: #636363">
                    <time style="font-size: 14px; font-weight:600;">
                        <i class="fa fa-clock-o" style="padding-right: 2px"></i>
                        2019-10-11
                    </time>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}