{% extends "base/base.html" %}
{% load static %}
{% load mptt_tags %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    文章详情
{% endblock title %}

{% block main1border %}
{% endblock %}
{% block main1 %}
{% endblock main1 %}
<!-- 写入 base.html 中定义的 content -->
{% block main2 %}
    <!-- 文章详情 -->
    <div class="container">
        <div class="row">
            <!-- 标题及作者 -->
            <h1 class="col-12 mt-4 mb-4">{{ post.title }}</h1>
            <h6 class="col-12 mt-4 mb-4">{{ post.tag.name }}</h6>
            <div class="col-12 alert alert-success">作者：{{ post.author }}</div>
            <!-- 文章正文 -->
            <div class="col-12">
                <p>{{ post.content|safe }}</p>
            </div>
        </div>
    </div>

    <!-- 已有代码，文章正文 -->
    <div class="col-12">
        ...
    </div>

    <!-- 发表评论 -->
    <hr>
    <div>
        <!--form
                action=""
                method="POST"
        -->
            {% csrf_token %}
            <div class="form-group">
                <label for="body">
                    <strong>
                        我也要发言：
                    </strong>
                </label>
                <textarea
                        type="text"
                        class="form-control"
                        id="body"
                        name="body"
                        rows="2"></textarea>
            </div>
            <!-- 提交按钮 -->
            <button type="submit" class="btn btn-primary ">发送</button>
        <!--/form-->
    </div>
    <br>

    <h4>共有{{ comments.count }}条评论</h4>
    <div class="row">
        {% recursetree comments %}
            {% with comment=node %}
                <div class="{% if comment.reply_to %} offset-1 col-11 {% else %} col-12 {% endif %}">
                    <hr>
                    <p>
                        <strong style="color: pink">
                            {{ comment.user }}
                        </strong>

                        {% if comment.reply_to %}
                            <i class="far fa-arrow-alt-circle-right" style="color: cornflowerblue;"></i>
                            <strong style="color: pink">
                                {{ comment.reply_to }}
                            </strong>
                        {% endif %}
                    </p>
                    <div>{{ comment.content|safe }}</div>

                    <div>
                        <span style="color: gray">
                            {{ comment.created|date:"Y-m-d H:i:s" }}
                        </span>
                        <!-- 加载 modal 的按钮 -->
                        <button type="button" class="btn btn-light btn-sm text-muted">
                            回复
                        </button>
                    </div>

                    {% if not comment.is_leaf_node %}
                        <div class="children">
                            {{ children }}
                        </div>
                    {% endif %}
                </div>
            {% endwith %}
        {% endrecursetree %}
    </div>>

{% endblock main2 %}