{% extends "forum/index.html" %}
{% load staticfiles %}
{% load static %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    文章详情
{% endblock title %}

{% block main2border %}
    border
{% endblock %}
{% block main2-margintop %}
{% endblock %}
{% block main1 %}
{% endblock main1 %}
<!-- 写入 base.html 中定义的 content -->
{% block main2 %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "prism/prism.js" %}"></script>
    <div class="container" style="padding: 10px;">
        <div class="row">
            <div class="col-12">
                <br>
                <!-- 提交文章的表单 -->
                <form method="post" action=".">
                    <!-- Django中需要POST数据的地方都必须有csrf_token -->
                    {% csrf_token %}
                    <!-- 文章标题 -->
                    <div class="form-group">
                        <div  style="font-size: 1.8em; font-weight: bolder;  margin-bottom: 10px;">文章标题</div>
                        {{ article_post_form.title }}
                    </div>
                    <!-- 文章正文 -->
                    <div class="form-group">
                        <div  style="font-size: 1.8em; font-weight: bolder; margin-bottom: 10px;">文章正文
                        </div>
                        <!-- 文本区域 -->
                        {{ article_post_form.media }}
                        {{ article_post_form.content }}
                        <!--textarea name="content" id="content" rows="10" cols="80">
                            开始编辑您的文章
                        </textarea-->
                        <!--script>
                            // Replace the <textarea id="editor1"> with a CKEditor
                            // instance, using default configuration.
                            CKEDITOR.replace('content', {
                                'height': '400px',
                            });
                        </script-->

                    </div>
                    <div class="form-group">
                            <!--div for="section" style="font-size: 1.8em; font-weight: bolder;  margin-bottom: 10px;">文章板块</div-->
                            <!-- 文本框 -->
                            <!--select type="text" class="form-control" id="section" name="section"></select-->
                            <div style="font-size: 1.8em; font-weight: bolder;  margin-bottom: 10px;">
                                <span style="margin-right: 10px;">{{ article_post_form.section.label }}</span>
                                <span>{{ article_post_form.section }}</span>
                            </div>
                    </div>
                    <div class="form-group">
                            <div style="font-size: 1.8em; font-weight: bolder;  margin-bottom: 10px;">
                                <span style="margin-right: 10px;">{{ article_post_form.level_restriction.label }}</span>
                                <span>{{ article_post_form.level_restriction }}</span>
                            </div>
                    </div>
                    <style>
                        .django-ckeditor-widget{
                            width:100%!important;
                        }

                    </style>

                    <!-- 提交按钮 -->
                    <button type="submit" class="btn btn-primary">完成</button>
                </form>
            </div>
        </div>
    </div>
{% endblock main2 %}

{% block moreOnloadFunc %}
    document.getElementById("id_content").value = "开始编辑您的文章";
{% endblock %}