{% extends "forum/index.html" %}
{% load staticfiles %}


{% block main2 %}

{% endblock main2 %}

{% block main %}
    {% for search_user in user_list %}
        <div class="d-flex align-items-center flex-column"
             style="width: 100%; flex-direction: column; background-color: rgba(255,255,255,0);font-size: 1rem;">
            <div class="border-top" style="width: 90%;">
                <div class="d-flex flex-row">
                    <div class=" CommentAvatar d-flex flex-column align-items-center"
                         style="padding: 10px; width: 120px">
                        <div style="width: 75%">
                            <img src="{% static 'base/images/avatar.jpeg' %}" class="border rounded-circle"
                                 style="width: 100%"/>
                        </div>
                        <div class="font d-flex flex-column" style="font-weight: bolder">
                            <div class="d-flex justify-content-center" style="margin-top: 5px; font-size: 1em">
                                <span style="text-align: center"></span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-fill" style="padding: 10px; flex-direction: column;">
                        <div class="d-flex align-items-center" style="flex-grow: 1">
                            <span class="font"
                                  style="font-size: 1.1em; font-weight: bolder;">{{ search_user.name }}</span>
                        </div>
                        <div class="d-flex">
                            <div class="rounded d-flex align-items-center"
                                 style="margin-right: 5px; display: block;
                                  padding: 0 4px; text-align: center;
                                   font-size: 0.7em; font-weight: bolder; color: white; background-color: #5baaff">
                                <span>{{ search_user.level }}</span>
                            </div>
                            <span style="font-size: 0.8em; font-weight: bolder;">新手</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block script %}
{% endblock %}