{% extends "base/base.html" %}
{% load staticfiles %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    文章详情
{% endblock title %}

{% block main1border %}
{% endblock %}
{% block main1 %}
{% endblock main1 %}
<!-- 写入 base.html 中定义的 content -->
{% block main2 %}
    <!-- 文章详情 -->
    <div class="container">
        <div class="row">
            <!-- 标题及作者 -->
            <h1 class="col-12 mt-4 mb-4">{{ post.title }}</h1>
            <h6 class="col-12 mt-4 mb-4">{{ post.tag.name }}</h6>
            <div class="col-12 alert alert-success">作者：{{ post.author }}</div>
            <!-- 文章正文 -->
            <div class="col-12">
                <p>{{ post.content|safe }}</p>
            </div>
        </div>
    </div>

    <!-- 已有代码，文章正文 -->
    <div class="col-12">
        ...
    </div>

    <!-- 发表评论 -->
    <hr>
    <div>
        <form
                action="{% url 'comment:post_comment' post.id %}"
                method="POST"
        >
            {% csrf_token %}
            <div class="form-group">
                <label for="body">
                    <strong>
                        我也要发言：
                    </strong>
                </label>
                <textarea
                        type="text"
                        class="form-control"
                        id="body"
                        name="body"
                        rows="2"></textarea>
            </div>
            <!-- 提交按钮 -->
            <button type="submit" class="btn btn-primary ">发送</button>
        </form>
    </div>
    <br>



    <!-- 显示评论 -->
    <h4>共有{{ comments.count }}条评论</h4>
    <div>
        {% for comment in comments %}
            <hr>
            <p>
                <strong style="color: pink">
                    {{ comment.user }}
                </strong> 于
                <span style="color: green">
                    {{ comment.created|date:"Y-m-d H:i:s" }}
                </span> 时说：
            </p>
            <pre style="font-family: inherit; font-size: 1em;"> {{ comment.content }}</pre>
        {% endfor %}
    </div>

    <!-- 目录 -->
    <div class="col-3 mt-4">
        ...
    </div>
{% endblock main2 %}