{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'login/css/login.css' %}" rel="stylesheet"/>
    <title>SE-Login</title>
    <style type="text/css">
        .right a:link {
            color: dodgerblue;
            text-decoration: none;
        }

        .right a:visited {
            text-decoration: none;
            color: dodgerblue;
            font-weight: bolder;
        }

        .right a:hover {
            text-decoration: none;
            color: dodgerblue;
            font-weight: bold;
        }

        .right a:active {
            text-decoration: none;
            color: rebeccapurple;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="col">
        <form class="form-login" action="/login/" method="post">
            <img class="logo" src="{% static 'login/images/logo.png' %}" alt="logo" >
            <br>
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            {% csrf_token %}

            <!--h3 class="text-center">欢迎登录</h3-->

            <div class="form-group">
                <div class="wrap">
                    <div class="left">
                        {{ login_form.username.label_tag }}
                    </div>
                    <div class="center"></div>
                    <div class="right">
                        <a href="{% url "register" %}">新用户注册</a>
                    </div>
                </div>
                {{ login_form.username }}
            </div>

            <div class="form-group">
                <div class="wrap">
                    <div class="left">
                        {{ login_form.password.label_tag }}
                    </div>
                    <div class="center"></div>
                    <div class="right">
                        <a href="{% url "register" %}">忘记密码？</a>
                    </div>
                </div>
                {{ login_form.password }}
            </div>

            <div>
                <button type="submit">登录</button>
            </div>
        </form>
    </div>
</div> <!-- /container -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#    以下三者的引用顺序是固定的#}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
</body>
</html>